.details {
    display: flex;
    gap: 2rem;

    .details__left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .details__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--primary-white);

        .details__subtitle {
            color: var(--text-gray);
            font-family: 1rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 800px) {
    .details {
        flex-direction: column;

        .details__left {
            flex-direction: column-reverse;
        }
    }
}
