@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-gutter: auto;
	font-family: 'Inter', sans-serif;
}

:root {
	--primary-bg: #0d2831;
	--primary-white: #ffffff;
	--text-yellow: #fdc700;
	--accent-red: #e70000;
	--text-black: #000000;
	--line-primary: #055539;
	background-color: var(--primary-bg);
}

.d-none {
	display: none !important;
}

.app {
	background-color: var(--primary-bg);
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
